
/* ============== */
/* --- Layout --- */
/* ============== */

html, body, .capa {
	height: 100%;
}


body {
	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;

	font-family: "Helvetica", "Arial", sans-serif;
}

/* --- Barra de Navegação --- */

nav.navbar-transparente {
	padding: 15px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.img-logo {
	height: 40px;
	width: 132px;
	
	display: block;

	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;

	color: transparent;
}

.navbar-brand {
	padding-top: 5px;
}

.divisor {
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-fixed-top .navbar-nav>li>a {
	color: white;
}

.navbar-fixed-top .navbar-nav>li>a:hover {
	color: #9bf0e1;
}

/* --- Capa principal do layout --- */

.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* ================== */
/* --- Tipografia --- */
/* ================== */

h1 {
	font-size: 90px;
	font-weight: 600;
	letter-spacing: -6px;
}









