
/* ============== */
/* --- Layout --- */
/* ============== */

html, body, .capa {
	height: 100%;
}


body {
	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;

	font-family: "Helvetica", "Arial", sans-serif;

	overflow-x: hidden;
}

/* --- Barra de Navegação --- */

nav.navbar-transparente {
	padding: 15px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.img-logo {
	height: 40px;
	width: 132px;
	
	display: block;

	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;

	color: transparent;
}

.navbar-brand {
	padding-top: 5px;
}

.divisor {
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-fixed-top .navbar-nav>li>a {
	color: white;
}

.navbar-fixed-top .navbar-nav>li>a:hover {
	color: #9bf0e1;
}

/* --- Capa principal do layout --- */

.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* --- Botões --- */

.btn-custom {
	color: white;
	margin: 5px;
	padding: 10px 35px;
	
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	
	font-weight: 600;
	text-transform: uppercase;
	
	transition: background 0.3s, color 0.3s;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background: white;
	color: black;
}

/* --- Conteúdo --- */

#servicos {
	background: white;
	padding: 20px 0;
}

.albuns {
	margin: 20px 0;
}

/* --- Conteúdo adicional --- */

#conteudo-adicional {
	color: white;
	padding: 20px 0;
}

.rotacionar {
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);

	padding-left: 80px;
}

/* --- Rodapé --- */

footer {
	background: black;
}

/* ================== */
/* --- Tipografia --- */
/* ================== */

h1 {
	font-size: 90px;
	font-weight: 600;
	letter-spacing: -6px;
	margin-bottom: 50px;
}

h2 {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: -5px;
}

h3 {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -2px;
}

#servicos h2, #servicos h3 {
	color: #7c25f8;
}

#conteudo-adicional h3{
	color: #9bf0e1;
}








